<div id="last_played" class="w-full max-w-sm">
  <h2 class="mb-4 text-2xl font-bold">Recently played</h2>
  <% if @last_played.present? %>
    <div class="mb-2 overflow-hidden bg-black rounded-lg aspect-square">
      <%= image_tag @last_played.record.cover, class: "w-full h-full object-cover" if @last_played.record.cover.present? %>
    </div>
    <div class="">
      <p><%= @last_played.record.title %></p>
      <p class="text-gray-400"><%= @last_played.record.artist.name %></p>
    </div>
  <% end %>
</div>