<header class="flex items-center justify-between my-8">
  <h1 class="text-4xl font-bold">Artists</h1>
  <%= link_to "New Artist", new_artist_path, class: "bg-blue-500 text-white px-2 py-1 rounded-md" %>
</header>
<ul class="grid grid-cols-4 gap-12">
  <% @artists.each do |artist| %>
    <li>
      <div class="overflow-hidden rounded-full aspect-square">
        <%= image_tag artist.avatar.variant(format: :avif, resize_to_fill: [150, 150]), class: "object-cover size-full"  %>
      </div>
      <%= link_to artist.name, artist_path(artist) %>
      <%= artist.records.count%>
    </li>
  <% end %>
</ul>