<div class="container" ">
  <%= turbo_frame_tag :modal do %>
    <dialog data-controller="modal"  data-action="click->modal#clickOutside"   class="fixed text-black max-w-4xl w-full inset-0 z-10 rounded-lg backdrop:backdrop-blur-md backdrop:bg-gray-800/20 max-h-[90dvh]">
      <div class="relative">
        <button data-action="click->modal#close"  class="absolute top-4 right-4">&times;</button>
        <div data-controller="discogs-search">
          <h2 class="px-6 pt-6 text-2xl font-bold">Search Discogs Database</h2>
          <div class="sticky top-0 z-10 flex gap-4 px-6 py-6 bg-white">
            <%= form_with(url: discogs_results_records_path, method: :get, local: true, data: {controller: "form", turbo_frame: "discogs_results", "discogs-search-target": "form" }, class: "max-w-sm w-full") do |f| %>
              <div class="input-group">
                <%= f.text_field :query, class: "form-control text-black p-2 border border-gray-900 rounded-md w-full", placeholder: "Search by artist or album...", data: {action: "input->form#submit", "discogs-search-target": "input"},  required: true, autocomplete: "off" %>
              </div>
            <% end %>
            <button data-action="discogs-search#scan" class="px-4 py-1 text-black bg-white border border-black rounded-md">ğ„ƒğ„‚ğ„‚ğ„€ğ„ğ„ƒğ„‚ğ„‚ğ„ƒ</button>
          </div>
          <video id="video"  height="480" class="hidden w-full" autoplay data-discogs-search-target="video" playsinline> </video>
          <div class="overflow-hidden grow">
            <%= turbo_frame_tag :discogs_results, src: "/records/discogs_results" ,  class:"h-full group overflow-y-auto"  do %>
              <p class="p-6">Loading results</p>
            <% end %>
          </div>
        </div>
      </div>
    </dialog>
  <% end %>
</div>
