<h1><%= @record.title %></h1>

<%= image_tag @record.cover, class: "w-1/2" if @record.cover.present? %>


<%= link_to "Edit", edit_record_path(@record), class: "bg-blue-500 text-white px-2 py-1 rounded-md" %>
<%= link_to "Delete", record_path(@record), method: :delete, class: "bg-red-500 text-white px-2 py-1 rounded-md" %>

